$bgLightRed: #f6e7e6;
$bgLightGreen: #dff5f2;
$bgLightBlue: #e4edfb;
$iconColorLightRed: #de4437;
$iconColorLightGreen: #00c9a7;
$iconColorLightBlue: #377dff;
$fontColorLightGray: #8c98a4;
$lightBlue: #007bff;