.card:last-child ul li:first-child {
  border-bottom: none;
}

.card:last-child {
  font-size: 1rem;
  line-height: 1.2rem;
}



.card {
  flex: 0 1 25%;
  font-family: "Raleway", Arial, sans-serif;
  font-variant-numeric: oldstyle-nums;
  font-size: 0.9rem;
  padding: 0rem 1rem 0.5rem;
  margin: 0.5rem;

  @media screen and(min-width: 768px) {
    padding: 0;
    margin: 0;
  }

  &:hover &_header {
    box-shadow: 3px 5px 4px 5px rgba(0, 0, 0, 0.4);
  }
  &_header {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
    min-height: 200px;

    @media screen and(min-width: 768px) {
      display: flex;
    }

    h3 {
      flex: 1;
      line-height: 1.2rem;
      color: #666;
    }
    h1 {
      padding: 1rem 0;
    }
    span {
      padding-bottom: 1rem;
      text-align: right;
      font-size: 1.5rem;
      font-weight: 500;
      color: #555;
      @media screen and(min-width: 968px) {
        font-size: 2rem;
      }
    }
  }
  li {
    position: relative;
  }

  li ul {
    padding: 0.5rem 0 1rem 0.5rem;
  }
  li ul li {
    padding: 1rem 0 0.2rem 0.5rem;
    font-weight: 500;
    font-size: 0.7rem;
  }

  .adapthBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0rem;
    border-bottom: 2px solid #ddd;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span + span {
        margin-left: 0.5rem;
      }
    }
    @media screen and(min-width: 768px) {
      display: none;
    }
  }
}

.bronze {
  border: 5px solid #e0b48d;
}
.gold {
  border: 5px solid #e8b954;
}
.platinum {
  border: 5px solid #555;
}
.managed {
  border: 5px solid #28d2d0;
}

.hide {
  max-height: 3rem;
  overflow: hidden;
  transition: max-height 0.5s ease;
  @media screen and(min-width: 768px) {
    max-height: none;
    height: auto;
    overflow: initial;
  }
}

.open {
  max-height: 40rem;
  transition: all ease-in-out 0.5s;
}
.open a,
.open ul,
.open p {
  animation: isOpen ease 1s;
}

@keyframes isOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and(min-width: 768px) {
  .card + .card {
    margin-left: 1.5rem;
  }
  .bronze,
  .gold,
  .platinum,
  .managed {
    border: none;
  }
}
