.card + .card {
  margin-left: 2rem;
}
a {
  text-decoration: none;
}

.mainSection > li:first-child {
  border-bottom: 2px solid #ddd;
}

.card:last-child ul li:first-child {
  border-bottom: none;
}
.resources {
  border-bottom: 2px solid #ddd;
  cursor: pointer;
  &_info {
    display: none;
  }
}

.resources li:hover .resources_info {
  display: block;
  position: absolute;
  width: 150px;
  padding: 1rem;
  left: 100%;
  line-height: 1.2rem;
  border-radius: 5px;
  box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 100;
  transform: translate(0, -55%);
  animation: popup ease 0.3s;
}
.resources li:hover .resources_info::before {
  content: "\2039";
  position: absolute;
  display: block;
  font-size: 2rem;
  right: 100%;
  bottom: 45%;
  color: rgb(199, 194, 194);
}

.card:last-child {
  font-size: 1rem;
  line-height: 1.2rem;
}

.card {
  flex: 0 1 25%;
  font-family: "Raleway", Arial, sans-serif;
  font-variant-numeric: oldstyle-nums;
  font-size: 0.9rem;

  &:hover &_header {
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.4);
   }
     &_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    min-height: 200px;

    h3 {
      flex: 1;
      line-height: 1.2rem;
      color: #666;
    }
    h1 {
      padding: 1rem 0;
    }
    span {
      padding-bottom: 1rem;
      text-align: right;
      font-size: 2rem;
      font-weight: 500;
      color: #555;
    }
  }
  li {
    padding: 0.5rem 0;
    position: relative;
  }

  li ul {
    padding: 0.5rem 0 1rem 0.5rem;
  }
  li ul li {
    padding: 1rem 0 0 0.5rem;
    font-weight: 500;
    font-size: 0.7rem;
  }

  &_btn {
    display: block;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    transition: transform ease 0.2s;
    &:hover {
      transform: translate(0px, 2px);
    }
  }
  &_link {
    padding: 1rem 0rem 1.7rem;
    a {
      color: #337ab7;
    }
  }
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// .card:hover .card_header {
//   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
// }