.btn {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
}

.link_str{
  margin-bottom: 1.5rem;
}

link {
  padding: 1rem 0rem 1.7rem;
}
a {
  text-decoration: none;
}
a:not(.btn) {
  color: #337ab7;
  &:hover {
    color: #23527c;
  }
}
