.btn  {
    display: block;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-weight: 600;
    color: #fff;
  }

  link {
    padding: 1rem 0rem 1.7rem;
  }
  a {
    text-decoration: none;
  }
  a:not(.btn ) {
    color: #337ab7;
    &:hover {
      color: #23527c;
    }
  }

  li {
    padding: 0.5rem 0;
    position: relative;
  }

  li ul {
    padding: 0.5rem 0 1rem 0.5rem;
  }
  li ul li {
    padding: 1rem 0 0.2rem 0.5rem;
    font-weight: 500;
    font-size: 0.7rem;
  }