.info {
  display: none;
  position: absolute;
  width: 150px;
  padding: 1rem;
  left: 105%;
  line-height: 1.2rem;
  border-radius: 5px;
  box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 100;
  transform: translate(0, -55%);
  animation: popup ease 0.3s;
}

.chapter {
  cursor: pointer;
  border-bottom: 2px solid #ddd;
  padding: 0.8rem 0;
}
.chapter:nth-child(3) {
  border: none;
}
.managen {
  border: none;
}

.chapter:hover .info::before {
  content: "\2039";
  position: absolute;
  display: block;
  font-size: 2rem;
  right: 100%;
  bottom: 45%;
  color: rgb(199, 194, 194);
}

.chapter:not(.managen):last-child {
  transition: all ease 0.1s;
}

.chapter:not(.managen):last-child:hover {
  margin-bottom: 0.2rem;
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .chapter:not(.managen):hover .info {
    display: block;
  }
}
